{{>headerLogin}}

 <h2>Lista de Cursos</h2>  
            <table class="table">
                <thead>
                    <tr>
                        <th>Id Curso</th>
                        <th>Nombre</th>
                        <th>Descripci&oacute;n</th>
                        <th>Valor</th>
                        <th>Modalidad</th>
                        <th>Intensidad</th>
                        <th>Estado</th>
                     </tr>
                </thead>
                <tbody>
                    {{#each cursos}}
                    <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.descripcion}}</td>
                    <td>{{this.valor}}</td>
                    <td>{{this.modalidad}}</td>
                    <td>{{this.intensidad}}</td>
                    <td>{{this.estado}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

    <div class="container">
        <h2>Actualizar Cursos</h2> 
            <select name= "cursoDisponible" class="form-control">
                {{#each cursos}}
                <option value="cursoD">{{this.nombre}}</option>
                {{/each}}
            </select>
            </br>   
            
                <button type="button" class="btn btn-primary" type= "submit">Enviar</button>
    </div>

    <div class="container">
        <h2>Ver Cursos como Interesado</h2> 
         {{#each cursos}}
        <div class="row">
                <div class="col-md-6 mb-3">
                    <h1>{{this.nombre}}</h1>
                        <a href="#demo" class="btn btn-primary" data-toggle="collapse">Ver Descripci&oacute;n</a>
                            <div id="demo" class="collapse">
                                <p> Descripción:  {{this.descripcion}}</p>  
                                <p> Modalidad:  {{this.modalidad}}</p>  
                                <p> Intensidad Horaria: {{this.intensidad}}</p>  
                            </div>
                 </div>
        </div>         
         {{/each}}
       
    </div>


{{>footer}}
