{{>header}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/lib/bootstrap.min.css">
<script src="/lib/jquery-1.12.2.min.js"></script>
<script src="/lib/bootstrap.min.js"></script>
<body class="text-center"></body>
    <div class="container">
        <h2>Lista de Cursos</h2>  
        <script>

function cargarDatos(){
    var DatosJson = JSON.parse(JSON.stringify('../cursos.json'));
    console.log(DatosJson.alumnoUTP.length);
    $("#Table").append('<tr><td>Nombre</td>'+
    '<td>Apellido paterno</td>' + 
    '<td>Edad</td>');
    for (i = 0; i < DatosJson.alumnoUTP.length; i++){

 $("#Table").append('<tr>' + 
    '<td align="center" style="dislay: none;">' + DatosJson.alumnoUTP[i].nombre + '</td>'+
    '<td align="center" style="dislay: none;">' + DatosJson.alumnoUTP[i].apePaterno + '</td>'+
    '<td align="center" style="dislay: none;">' + DatosJson.alumnoUTP[i].edad + '</td>'+'</tr>');
    }
}

</script>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id Curso</th>
                        <th>Nombre</th>
                        <th>Descripci&oacute;n</th>
                        <th>Valor</th>
                        <th>Modalidad</th>
                        <th>Intensidad</th>
                        <th>Estado</th>
                     </tr>
                </thead>
                <tbody>
      {{#each cursos}}
    <tr>
      <td>{{this.idCurso}}</td>
      <td>{{this.nombre}}</td>
      <td>{{this.descripcionCurso}}</td>
      <td>{{this.valorCurso}}</td>
      <td>{{this.modalidadCurso}}</td>
      <td>{{this.intensidadCurso}}</td>
      <td>{{this.estado}}</td>
    </tr>
     {{/each}}
  </tbody>
            </table>
    </div>
    <div class="container">
        <h2>Actualizar Cursos</h2> 
            <select name= "cursoDisponible" class="form-control">
                {{#each cursos}}
                <option value="cursoD">{{this.nombre}}</option>
                {{/each}}
            </select>
            <div class="invalid-feedback">
                Por favor ingrese la modalidad del curso .
            </div>
            </br>   
            
                <button type="button" class="btn btn-primary" type= "submit">Enviar</button>
    </div>

    <div class="container">
        <h2>Ver Cursos como Interesado</h2> 
         {{#each cursos}}
        <div class="row">
                <div class="col-md-6 mb-3">
                    <h1>{{this.nombre}}</h1>
                        <a href="#demo" class="btn btn-primary" data-toggle="collapse">Ver Descripci&oacute;n</a>
                            <div id="demo" class="collapse">
                                <p> Descripción:  {{this.descripcionCurso}}</p>  
                                <p> Modalidad:  {{this.modalidadCurso}}</p>  
                                <p> Intensidad Horaria: {{this.intensidadCurso}}</p>  
                            </div>
                 </div>
        </div>         
         {{/each}}
       
    </div>

</body>

{{>footer}}
